bin/
develop-eggs/
include/
lib/
parts/
var/
*.pyc
*.swp
src/*.egg-info
buildout.cfg
.mr.developer.cfg
robot-output
.installed.cfg
*.po~
cache.cfg
download-cache
eggs
etc/
log.html
output.xml
report.html
devel/
docs/Makefile
docs/make.bat
docs/doctrees
docs/html

