language: python
python:
  - 2.7
before_install:
  - sudo apt-get install libpcre3-dev
  - make buildout-cache/downloads
  - make buildout-cache/eggs
install:
  - make cached-eggs
  - make bin/pybot
  - make bin/zope-testrunner
  - make var/supervisord.pid
before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
script:
  - make robot
  - make robotsuite
