language: python
python: 2.7
sudo: false
addons:
  sauce_connect:
    username: $SAUCE_USERNAME
    access_key: $SAUCE_ACCESS_KEY
cache:
  directories:
  - eggs
install:
- python bootstrap.py -c travis.cfg
- bin/buildout -N -t 3 -c travis.cfg ${VERSIONS}
script: bin/test
after_script:
- cd docs && ./libdoc.sh && cd ..
- bin/sphinx-build docs/source docs/html
- bundle install
- bundle exec travis-artifacts upload --path parts/test
- bundle exec travis-artifacts upload --path docs/html
- bundle exec travis-artifacts upload --target-path latest --path docs/html
- bundle exec travis-artifacts upload --target-path latest --path parts/test
- 'echo "Sphinx: http://plone.app.robotframework.s3-website-us-east-1.amazonaws.com/artifacts/${TRAVIS_BUILD_NUMBER}/${TRAVIS_JOB_NUMBER}/"'
- 'echo "Robot: http://plone.app.robotframework.s3-website-us-east-1.amazonaws.com/artifacts/${TRAVIS_BUILD_NUMBER}/${TRAVIS_JOB_NUMBER}/robot_report.html"'

env:
  global:
  - secure: YLol0TyHB+XAUbCzzjfc5JJ5AFqEi/GVhGphtAAcSv8+JY6MhTVVTjyCPeoK 2nT7tDhQRnYKOAMBmTuP/TUdzFqBf5LvjrFxvcjBawJMRW85kuYEuXsS8XEx C+lc1bbXSUPGA0x03tvSHIYbCowvVPZNUupxgRQdW2QLa5HcSuQ=
  - secure: YhG9gTzNMbQWiHLO6RU2J9btjB8L4X/QpKgu4c48XHYEf0Mwgxi5kKhZTTqp KY6/buwYhcBFWh0PQVC1b35lHHxI+bD4/d3v8xea7v670COdP0zMrgjXlSLn bfV7g3/doSmAUtbEyUQdfzmWS8kyst0div6XzpWtR3cl6lP6Tfo=
  - secure: AOFoFixluD1YzjtKuNLClALcpH6YpJyxZYfx8QVs0SQ3aDJRc53lVw2e0YKpghGSuuHm75cAKbmZVJVYT/qgYFdZfah6+amKFRgTVDsGEnGIGcL8+z43n+y3b1NZotwPXXZz4hboFLL4FknuEymGmKl4ZJdpQFcf+36iylg2KFQ=
  - secure: eK2r6iQU0M8tq2qC+SpoqJJmtyBa8Okdr5DjlrAa4efuA7fiIzsfvSfcTcb9zQ0T+7cbOoGiEFQVFcat0uSY49fAZcxTjJakjYC1plwBfQl/StQGHZIlx+oy2GZTthi6UWAVYeC6NmLTqBtoGxVvCMp6+LtNhzd2Fc4MUHrafqQ=
  - ARTIFACTS_S3_BUCKET=plone.app.robotframework
  - ROBOT_BUILD_NUMBER=travis-$TRAVIS_BUILD_NUMBER
  - ROBOT_REMOTE_URL=http://$SAUCE_USERNAME:$SAUCE_ACCESS_KEY@ondemand.saucelabs.com:80/wd/hub
  matrix:
  - ROBOT_BROWSER=firefox ROBOT_DESIRED_CAPABILITIES=tunnel-identifier:$TRAVIS_JOB_NUMBER
  - ROBOT_BROWSER=chrome ROBOT_DESIRED_CAPABILITIES=tunnel-identifier:$TRAVIS_JOB_NUMBER
  - ROBOT_BROWSER=ie ROBOT_DESIRED_CAPABILITIES=tunnel-identifier:$TRAVIS_JOB_NUMBER
matrix:
  allow_failures:
  - env: ROBOT_BROWSER=ie ROBOT_DESIRED_CAPABILITIES=tunnel-identifier:$TRAVIS_JOB_NUMBER

notifications:
  irc:
    channels:
    - irc.freenode.org#plone-testing
    template:
    - "%{repository}#%{build_number} (%{branch} | %{commit} | %{author}): %{message}"
#   - "Change: %{compare_url}"
#   - "Details: %{build_url}"
    - "Robot: http://plone.app.robotframework.s3-website-us-east-1.amazonaws.com/artifacts/%{build_number}/%{build_number}.1/robot_report.html"
    - "Sphinx: http://plone.app.robotframework.s3-website-us-east-1.amazonaws.com/artifacts/%{build_number}/%{build_number}.1/"
    - "Latest: http://plone.app.robotframework.s3-website-us-east-1.amazonaws.com/latest/"
