[buildout]
extends = http://dist.plone.org/release/4.2.1/versions.cfg
parts =
    test
    pybot
    instance
    omelette
develop = .
versions = versions

[versions]
zc.buildout = 1.6.3
distribute = 0.6.28

decorator = 3.3.3
robotframework = 2.7.4
robotframework-selenium2library = 1.0.1
robotsuite = 0.9.0
selenium = 2.25.0

[pybot]
recipe = zc.recipe.egg
eggs =
    plone.act
    robotentrypoints
initialization =
    import os
    os.environ.setdefault("ZSERVER_PORT", "8080")
    os.environ.setdefault("PLONE_SITE_ID", "Plone")

[instance]
recipe = plone.recipe.zope2instance
eggs =
    Pillow
    Plone
user = admin:secret

[omelette]
recipe = collective.recipe.omelette
eggs = ${test:eggs}

[environment]
ZSERVER_PORT = 55001

[test]
recipe = zc.recipe.testrunner
eggs = plone.act[test]
environment = environment
defaults = ['--auto-color', '--auto-progress']
