[buildout]
parts +=
    varnish-build
    varnish
    varnish-conf
    supervisor
    test-wrap-varnish

[hosts]
supervisor = localhost
plone-testing = localhost
varnish = localhost
varnish-telnet = localhost

[ports]
supervisor = 9001
plone-testing = 55000
varnish = 8080
varnish-telnet = 5001

[environment]
ZSERVER_HOST = ${hosts:plone-testing}
ZSERVER_PORT = ${ports:plone-testing}
ROBOT_ZOPE_HOST = ${hosts:varnish}
ROBOT_ZOPE_PORT = ${ports:varnish}

[test]
environment = environment
script = run-tests

[test-wrap-varnish]
recipe = collective.recipe.template
input = inline:
    #!/usr/bin/env sh
    ${buildout:directory}/bin/supervisord
    ${buildout:directory}/bin/run-tests $@
    result=$?
    ${buildout:directory}/bin/supervisorctl shutdown
    exit $result
output = ${buildout:directory}/bin/test
mode = 755

[varnish-build]
recipe = zc.recipe.cmmi
url = ${varnish:download-url}

[varnish]
recipe = plone.recipe.varnish:instance
bind = ${hosts:varnish}:${ports:varnish}
telnet = ${hosts:varnish-telnet}:${ports:varnish-telnet}
cache-size = 256M
mode = foreground
daemon = ${buildout:parts-directory}/varnish-build/sbin/varnishd
config = ${buildout:directory}/etc/varnish.vcl

[varnish-conf]
recipe = collective.recipe.template
url = https://raw.github.com/plone/plone.act/master/templates/varnish.vcl.in
output = ${buildout:directory}/etc/varnish.vcl
backend = ${hosts:plone-testing}
backend_port = ${ports:plone-testing}

[supervisor]
recipe = collective.recipe.supervisor
port = ${hosts:supervisor}:${ports:supervisor}
user = admin
password = admin
programs =
    10 varnish ${varnish:daemon} [ -f ${varnish:config} -n ${buildout:directory}/var -s malloc,1G -a ${hosts:varnish}:${ports:varnish} -F ] ${buildout:directory}
